-- Agregar columnas faltantes a la tabla sales
ALTER TABLE sales ADD COLUMN IF NOT EXISTS items TEXT;
ALTER TABLE sales ADD COLUMN IF NOT EXISTS customer_name VARCHAR(255);
ALTER TABLE sales ADD COLUMN IF NOT EXISTS date VARCHAR(10);
ALTER TABLE sales ADD COLUMN IF NOT EXISTS notes TEXT;
